@import "tailwindcss";
body {
  font-family: 'Poppins', sans-serif;
}
/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
